.block-5 {
  --block-background: #ffffff;
  background: var(--block-background);
  color: var(--root-text-primary);
}


.card-2 {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: transform 0.1s ease;
}

.card-2:hover {
  transform: scale(1.05);
}

.card-2__symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  height: 3.25rem;
  width: 3.25rem;
  border: 1px solid var(--root-primary);
  border-radius: var(--root-elements-roundness);
  background: white;
  color: var(--root-primary);
}

@media(min-width: 992px) {
  .card-2__symbol {
    height: 3.8rem;
    width: 3.8rem;
  }
}

.card-2__title {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.46;
}

.card-2__paragraph {
  font-size: .9rem;
  line-height: 1.5;
  opacity: .8;
  margin: 0;
}